<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
      {{ .Content }}
    {{ partial "footer.html" . }}
    </div>
  </main>
</body>
</html>
